.top-header .contact-info li a{
	color: #ffffff;
	text-decoration: none;
	margin-top: 0px;
}
.top-header .contact-info{
	list-style-type: none;
	background-color: #ff4e00;
}
/*
.top-header .contact-info li{
  padding: 10px 10px; 
}
.top-header .contact-info li:first-child{
	float: right;
	padding: 10px 20px;
} */
.bottom-header{
	background-color: #01295c;
	padding-bottom: 20px;
	font-size: 20px;

}
.bottom-header .navbar  a{
	text-decoration: none;
	color: #ffffff;
	margin-left: 10px;

}
.title{
	position: absolute;
	font-family: Georgia;
	margin-left: 230px;
}

